html
  head
    title!= route
    script(src="../bootstrap.min.js"  crossorigin="anonymous")
    link(rel="stylesheet" href="../bootstrap.min.css" crossorigin="anonymous")
  body
    .container-fluid
      .row
        .col-lg-10.col-md-10
          each flightPrice in flightsPrice
            - var flightPrice = flightPrice.flightPrice
            include ./table.pug
