html
  head
    title!= routes
    script(src="../bootstrap.min.js" crossorigin="anonymous")
    link(rel="stylesheet" href="../bootstrap.min.css" crossorigin="anonymous")
  body
    .container-fluid
      .row
        .col-lg-10.col-md-10
          include ./table.pug
